<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <title>Hello, world!</title>
</head>

<body>
  <div class="container">
    <div class="row" style="padding-top: 15px">
      <div class="col-sm">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">resources</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">123</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">subscriptions</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">456</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Endpoint</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>http://api.company.com/users/{id}</td>
            <td>
              <button type="button" class="btn btn-link">subscriptions</button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-danger">delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row justify-content-md-center">
      <span class="border">
        <pre style="margin-bottom: 0px;"><code class="json" style="padding: 1em">{
  "endpoint": "http://api.company.com/users/{id}",
  "change": {
    "field": "updatedAt",
    "format": "2006-01-02T15:04:05Z07:00"
  }
}</code></pre>
      </span>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js " integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T "
    crossorigin="anonymous "></script>
</body>

</html>